blogclone/
devsearch/
firstpoll/
simple-social-clone/
storefront/
Useraccounts/
blogging/.env
blogging/Pipfile
blogging/Pipfile.lock
*.pyc
*.cpython
blogging/.vscode/
*.vscode/
video-hosting-app/
video-hosting-application/

